body{
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding-top: 20px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: 23px;
    margin-bottom: 25px;
    gap: 20px;
    align-items: center;
    padding-left: 0;
}

.navbar {
    align-items: flex-end;
}
